## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
print (5 + 4 * 9 % (3 + 1) / 6 - 1)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [ ]:
Input_Number=int(input())
Is_It_Even_Or_Odd=Input_Number % 2

if Is_It_Even_Or_Odd == 0:
    Is_It_Even_Or_Odd="Even"
else:
    Is_It_Even_Or_Odd="Odd"

print (Is_It_Even_Or_Odd)

15
Odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [ ]:
Input_Number=int(input())
for i in range(2,11):
    print (Input_Number*i)

5
10
15
20
25
30
35
40
45
50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
for i in range(2000,3201):
    while i%7 == 0:
        if i%5 != 0:
            print (i, end=", ")
        i+=1

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [7]:
List_Val=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
# print(type(List_Val[1]))
Int_Val=0
Str_Val=0
Float_Val=0
Bool_Val=0

for i in List_Val:
    if type(i)==int:
    # print(i)
        Int_Val=Int_Val+1
    # print(Int_Val)
    if type(i)==str:
        Str_Val=Str_Val+1
    if type(i)==float:
        Float_Val=Float_Val+1
    if type(i)==bool:
        Bool_Val=Bool_Val+1
  
  # print(i)

print("Count of Integer is:",Int_Val)
print("Count of String is:",Str_Val)
print("Count of Float is:",Float_Val)
print("Count of Bool is:",Bool_Val)
# Count_In_List=List_Val.count('Py')
# print(Count_In_List)

Count of Integer is: 5
Count of String is: 4
Count of Float is: 1
Count of Bool is: 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [ ]:
List_Val=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
Int_Addition=0
for i in range(len(List_Val)):
    if type(List_Val[i])==int:
        Int_Addition=Int_Addition+List_Val[i]
    i+=1
print (Int_Addition)

16

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [27]:
List_Val=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
Str_Addition=""
for i in range(len(List_Val)):
    if type(List_Val[i])==str:
        Str_Addition=Str_Addition + List_Val[i] + "-"
    i+=1
    
print (Str_Addition)

Py-10-SQL-John-

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [ ]:
import pdb

In [37]:
def my_func(Value):
    Int_Addition=0
    Str_Count=0
    for i in range(len(Value)):
        if type(Value[i])==int:
            #print (Value[i])
            Int_Addition=Int_Addition+i
        if type(Value[i])==str:
            Str_Count=Str_Count+1
            
    Output_Val={'Sum of Integers':Int_Addition,'Count of String':Str_Count}
    return Output_Val
            
        
my_func(Value=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7])

{'Sum of Integers': 24, 'Count of String': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [39]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
output=[]
for i in li:
    if i%2 != 0:
        output.append(i)
print(output)

#OR

output=list(filter(lambda x:(x%2!=0),li))
print(output)

[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [ ]:
a=input()
L1=[int(i) for i in a.split(' ') if i.isdigit()]
# print(L1)
# L1=[390, 540, 1998, 8888, 75]

def Perform_Actions(L1):
    SumOfList=sum(L1)
    CountOfList=len(L1)
    MinOfList=min(L1)
    MaxOfList=max(L1)
    return SumOfList, CountOfList, MinOfList, MaxOfList

Perform_Actions(L1)

10000 300000000 8

(300010008, 3, 8, 300000000)

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [ ]:
def some_function(**kwargs):
    for key, value in kwargs.items():
        
        if key=='Square' and value != "" and type(value)==int:
            AreaOfSquare=value*value
            print(AreaOfSquare)
        elif key== 'Square'and value == "" or key== 'Square'and type(value)==str:
            print("Please enter side for square")
        
        if key=='Rectangle' and value != ""and type(value[0])==int and type(value[1])==int:
            AreaOfRectangle=value[0]*value[1]
            print(AreaOfRectangle)
            
        elif key=='Rectangle' and value == "" or key=='Rectangle' and type(value[0])==str and type(value[0])==str:
            print("Please enter the sides for rectange")
                  
        if key=='Circle' and value != "" and type(value)==int:
            pi=3.14
            AreaOfCircle=pi*value*value
            print(AreaOfCircle)
        elif key=='Circle' and value == "" or key== 'Circle'and type(value)==str:
            print("Please enter the radius for the circle")
            

some_function(Square=10, Rectangle=[5,4],Circle=5)

40
20
78.5

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [ ]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
ListMatched=[]
OnlyInL1=[]
OnlyinL2=[]

def Sumfunc(l1,l2):
    ListMatched=[value for value in l1 if value in l2]
    OnlyInL1=[value for value in l1 if value not in l2]
    OnlyinL2=[value for value in l2 if value not in l1]

    Dictionary={

        'Matched':ListMatched, 
        "Only in L1": OnlyInL1, 
        "Only in L2": OnlyinL2

    }
    
    # Dict2=Dictionary

    return Dictionary
    
print(Sumfunc(l1,l2))

{'Matched': ['January', 'February', 'June', 'December'], 'Only in L1': ['March', 'May', 'September'], 'Only in L2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [42]:
def PrimeOrNot(num):
    
    if num > 1:

        for i in range(2, int(num/2)+1):

            if (num % i) == 0:
                print(num, "is not a prime number.")
                break
        else:
            print(num, "is a prime number.")

    else:
        print(num, "is not a prime number.")
    

PrimeOrNot(num=12)

12 is not a prime number.

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [43]:
n = input("Enter a number: ")
factorial = 1
if int(n) >= 1:
    for i in range (1,int(n)+1):
       factorial = factorial * i
print("Factorial of ",n , " is : ",factorial)

Enter a number: 8
Factorial of  8  is :  40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [ ]:
n=int(input("Enter a number: "))

Dictionary={}

for i in range(1,n+1):
    keyy=i
    Values=i*i
    pass
    Dictionary[keyy]=Values
    
print(Dictionary)

Enter a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [ ]:
l1=[34,67,55,33,12,98]
l2=[]
Tuple=()
for i in range(len(l1)):
    val=l1[i]
    l2.append(l1[i])
    Tuple=Tuple+(val,)
    pass
print(l2)
print(Tuple)

[34, 67, 55, 33, 12, 98]
(34, 67, 55, 33, 12, 98)

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
a=str.lower(input()).split(" ")
a.sort()
print(a)

The quick brown fox jumps over a lazy dog.
['a', 'brown', 'dog.', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [ ]:
str1=input()
#str1="hello world and practice makes perfect and hello world again"
str2=str1.split()

l1=[]

for i in str2:
    if (i not in l1):
        l1.append(i)
        
l1.sort()
print("The sentence without duplicates are: ",l1)

hello world and practice makes perfect and hello world again
The sentence without duplicates are:  ['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
a=input()

count1=0
count2=0

for i in a:
    if(i.islower()):
        count1=count1+1
    elif (i.isupper()):
        count2=count2+1
print("The number of lowercase characters is:",count1)
print("The number of uppercase characters is:",count2)

Hello WorLd
The number of lowercase characters is: 7
The number of uppercase characters is: 3

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [ ]:
s=input()

def func(s):
    str = ""
    for i in s:
        str = i + str
    return str

print ("The reversed string is : ",end="")

print (func(s))

321
The reversed string is : 123